[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Ludovico Spitaleri
	email = ludovico.spitaleri@gmail.com
[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = nano
